*{
  margin: 0; 
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
html,
body{
  height: 100%;
  width: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}
.card{
  height: 330px;
  width: 280px;
  border-radius: 30px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card-header img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.card-header button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}
.card-body h3{
  font-size: 18px;
  font-weight: 500;
}
.card-body h3 span{
  font-size:9px;
  font-weight: 400;
  color: #8b8b8b; ;
}
.card-body h2{
  font-size: 20px;
  font-weight: 600;
}
.card-body .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.card-body .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}
.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid #b1b1b1;
  padding-top:15px;
}
.card-footer button{
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.card-footer h3{
  font-size: 17px;
}
.card-footer p {
font-size: 10px;
color: #8b8b8b;
}